<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Mapeamento de Vulnerabilidades</title>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
         google.charts.load('current', {packages: ['bar','corechart']});
         google.charts.setOnLoadCallback(manager);
         function manager(){
         if ('{{v2_graphic_2}}'!='[]'){
         v2_drawRightY()
         v2_drawChart()
         }else{
         alert('No ha vulnerabilidades da versão 2 no arquivo submetido')
         }
         if ('{{v3_graphic_2}}'!='[]'){
         v3_drawRightY()
         v3_drawChart()
         }else{
         alert('No ha vulnerabilidades da versão 3 no arquivo submetido')
         }
         }
         function v2_drawRightY() {
         var graphic = []
         graphic.push(['', 'Impacto', 'Exploitabilidade'])
         {% for lst_i in v2_graphic_2 %}
         var sub_graphic = []
         {% for lst_ij in lst_i %}
         sub_graphic.push('{{lst_ij}}')
         {% endfor %}
         graphic.push(sub_graphic)
         {% endfor %}
         var data = google.visualization.arrayToDataTable(graphic);
         
         var options = {
         chart: {
         //title: 'CVE-Impacto-Exploitabilidade V2',
         color: 'black',
         subtitle: ''
         },
         hAxis: {
         title: 'Total Population',
         minValue: 0,
         },
         vAxis: {
         title: ''
         },
         bars: 'horizontal',
         axes: {
         y: {
         0: {side: 'right'}
         }
         }
         };
         var material = new google.charts.Bar(document.getElementById('v2_chart_div'));
         material.draw(data, options);
         }
         
         
         
         
         function v2_drawChart() {
         var graphic = []
         graphic.push(['Nivel', 'Score'])
         var i = 0
         {% for lst_i in v2_graphic_1 %}
         if (i==0)
         graphic.push(['Baixo',parseInt('{{lst_i}}')])
         else if(i==1)
         graphic.push(['Medio',parseInt('{{lst_i}}')])
         else if(i==2)
         graphic.push(['Alto',parseInt('{{lst_i}}')])
         else if(i==3)
         graphic.push(['Critico',parseInt('{{lst_i}}')])
         i = i + 1
         {% endfor%}
         var data = google.visualization.arrayToDataTable(graphic);
         
         var options = {
         //title: 'CVE-CVSS Acumulado V2'
         };
         
         var chart = new google.visualization.PieChart(document.getElementById('v2_piechart'));
         
         chart.draw(data, options);
         }
         
         function v3_drawRightY() {
         var graphic = []
         graphic.push(['', 'Impacto', 'Exploitabilidade'])
         {% for lst_i in v2_graphic_3 %}
         var sub_graphic = []
         {% for lst_ij in lst_i %}
         sub_graphic.push('{{lst_ij}}')
         {% endfor %}
         graphic.push(sub_graphic)
         {% endfor %}
         var data = google.visualization.arrayToDataTable(graphic);
         
         var options = {
         chart: {
         //title: 'CVE-Impacto-Exploitabilidade V3',
         color: 'black',
         subtitle: ''
         },
         hAxis: {
         //title: 'Total Population',
         minValue: 0,
         },
         vAxis: {
         title: ''
         },
         bars: 'horizontal',
         axes: {
         y: {
         0: {side: 'right'}
         }
         }
         };
         var material = new google.charts.Bar(document.getElementById('v3_chart_div'));
         material.draw(data, options);
         }
         
         
         
         
         function v3_drawChart() {
         var graphic = []
         graphic.push(['Nivel', 'Score'])
         var i = 0
         {% for lst_i in v3_graphic_1 %}
         if (i==0)
         graphic.push(['Baixo',parseInt('{{lst_i}}')])
         else if(i==1)
         graphic.push(['Medio',parseInt('{{lst_i}}')])
         else if(i==2)
         graphic.push(['Alto',parseInt('{{lst_i}}')])
         else if(i==3)
         graphic.push(['Critico',parseInt('{{lst_i}}')])
         i = i + 1
         {% endfor%}
         var data = google.visualization.arrayToDataTable(graphic);
         
         var options = {
         //title: 'CVE-CVSS Acumulado V3'
         };
         
         var chart = new google.visualization.PieChart(document.getElementById('v3_piechart'));
         
         chart.draw(data, options);
         }
         
      </script>
   </head>
   <body>
      <h2>CVE-CVSS Acumulado V2</h2>
      <div id="v2_piechart"></div>
      <h2>CVE-Impacto-Exploitabilidade V2</h2>
      <div id="v2_chart_div"></div>
      <h2>CVE-CVSS Acumulado V3</h2>
      <div id="v3_piechart"></div>
      <h2>CVE-Impacto-Exploitabilidade V3</h2>
      <div id="v3_chart_div"></div>
   </body>
</html>
