<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mapeador de Vulnerabilidades</title>	
	</head>
	<body>
		<!-- Upload form. Note enctype attribute! -->
                <h1>Bem-Vindo ao mapeador de Vulnerabilidades</h1>
                <p>Submeta um arquivo onde cada linha tenha uma certa vulnerabilidade, exemplo
                <p>CVE-2013-5568</br>
                   CVE-2013-5569</br>
                   CVE-2013-6699</br>
		<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
	</body>

</html> 
